{% extends 'base.html' %}

{% block title %}Our World - {{ organism.name }}{% endblock %}

{% block content %}
<div class="feature">
    <img src="{{ organism.image_primary }}" alt="image-primary" width="300px">
    <h1>{{ organism.name }}</h1>
</div>
<div class="container">
    <div class="card mb-3" style="max-width: auto; height: auto;">
        <div class="card-header">
            Did you know?
        </div>
        <div class="card-body text-dark">
            <ul>
                {% if organism.endangered %}
                <li>The {{ organism.name }} is endangered.</li>
                {% endif %}
    
                {% if organism.period %}
                <li>The {{ organism.name }} lived through the <a href="{% url 'period' organism.period.id %}">{{ organism.period.name }}</a> period.</li>
                {% endif %}

                {% if organism.species %}
                <li>The {{ organism.name }} belongs to the {{ organism.species.name }} species.</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% if organism.summary %}
<div class="container section">
    {{ organism.summary | safe }}
</div>
{% endif %}
{% if organism.habitat %}
<div class="container section">
    <h3>The {{ organism.name }} habitat</h3>
    <p>{{ organism.habitat }}</p>
</div>
{% endif %}
{% endblock %}