{% extends 'ts-base.html' %}

{% block title %}Our World - {{ era.name }}{% endblock %}

{% block geo-content %}
<h1>
    {{ era.name }} Era
</h1>
<h6>Era #{{ era.absolute_number }}</h6>
<h6>{% if prev %} <a href="{% url 'era' prev.id %}">Previous</a> {% endif %} {% if prev and next %}|{% endif %} {% if next %} <a href="{% url 'era' next.id %}">Next</a> {% endif %}</h6>

<p class="geo-description">
    {{ era.summary }}
</p>
<br>
<div class="row">
    <div class="col-sm-6">
        <h3>Life in the {{ era.name }} era</h3>
        <p>
            {% if era.life %}
            {{ era.life }}
            {% else %}
            There was no life in this era.
            {% endif %}
        </p>
    </div>
    <div class="col-sm-6">
        <div class="card mb-3" style="max-width: auto; height: auto;">
            <div class="card-header"><b>Periods in the {{ era.name }} era</b></div>
            <div class="card-body text-dark">
                <ul>
                    {% if periods %}
                    {% for period in periods %}
                    <li><a href="{% url 'period' period.id %}">{{ period.name }}</a></li>
                    {% endfor %}
                    {% else %}
                    <li>There are no periods in this era</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}