{% extends 'base.html' %}

{% block title %}Our World{% endblock %}

{% block content %}
<div class="container feature">
    <h1>
        Our World
    </h1>
</div>
<div class="container section">
    <h3>
        What is this project?
    </h3>
    <p>
        Our World is just a hobby project, , an excuse for me to learn more about the world we live in. I find it astonishing how around 65% of this planet is still undiscovered (considering the ocean takes up 71% of the surface), so I want to discover more piece by piece.
    </p>
</div>
<div class="container section">
    <h3>
        What can I find on this website?
    </h3>
    <p>
        You can find information on the geological timescales, as well as some organisms containing information when they lived, and what characteristics they have.
    </p>
</div>
{% endblock %}